<ion-view view-title="">
  <ion-content has-bouncing="false" class="has-header">
    <div class="screen-header content-padding-extra">
      <h1>{{title}}</h1>
    </div>
    <div class="content-padding-extra">
      <form name="agendamentoForm" ng-if="!agendamentoConfirmado" novalidate class="scheduling-form">
        <label class="item-input input-control">
          <span class="input-label" ng-if="!date">Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;/</span>
          <input type="date" ng-model="date">
        </label>
        <label class="item-input input-control">
          <span class="input-label" ng-if="!time">Hora&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
          <input type="time" ng-model="time">
        </label>

        <div class="upload sending clearfix">
          <div class="icon pull-left">
            <i class="ion-android-upload"></i>
          </div>
          <div class="info pull-left">
            <span class="title">Identidade</span>
            <span class="description">Enviando</span>
          </div>
        </div>

        <div class="upload sended clearfix">
          <div class="icon pull-left">
            <i class="ion-document"></i>
          </div>
          <div class="info pull-left">
            <span class="title">Cpf.JPGE</span>
            <span class="description">Última modificação: 15 de Maio, 2017</span>
          </div>
        </div>

        <div class="upload empty clearfix" ng-click="sendFile()">
          <div class="icon pull-left">
            <i class="ion-social-buffer"></i>
          </div>
          <div class="info pull-left">
            <span class="title">Certidão de Casamento</span>
            <span class="description">CLIQUE PARA ENVIAR</span>
          </div>
        </div>

        <div class="pull-right clearfix">
          <button ng-click="submit()" class="button button-outline button-light">
            Enviar
          </button>
        </div>
        <div class="clearfix"></div>
        <div class="break"></div>
      </form>
      <div ng-if="agendamentoConfirmado">
        <p>O seu agendamento foi confirmado.</p>
        <p>Por favor, compareça na data e hora agendada.</p>
        <div class="pull-right clearfix">
          <button ng-click="goBack()" class="button button-outline button-royal">
            Cadastrar novo documento
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
