<ion-view view-title="Cartório">
    <ion-content class="padding">
        <div>
            <a href="#/app/cartorio/certidao" class="button button-outline button-balanced button-rounded button-block">
                Certidão e Traslados
            </a>
            <a href="#/app/cartorio/procuracao" class="button button-outline button-balanced button-rounded button-block">
                Procuração
            </a>
            <a href="#/app/cartorio/firma" class="button button-outline button-balanced button-rounded button-block">
                Reconhecimento de Firma
            </a>
            <a href="#/app/cartorio/testamento" class="button button-outline button-balanced button-rounded button-block">
                Testamento
            </a>

        </div>
    </ion-content>
</ion-view>
