<ion-view view-title="">
    <ion-content has-bouncing="false" class="has-header">
      <div class="screen-header content-padding-extra">
        <h1>Certidão e traslado</h1>
      </div>
      <div class="content-padding-extra">
        <form name="signup" ng-if="!certidaoEnviada" novalidate>
          <label class="item-input input-control">
            <span class="input-label" ng-if="!date">Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;/</span>
            <input type="date" ng-model="date">
          </label>
          <label class="item-input input-control">
            <span class="input-label" ng-if="!time">Hora&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
            <input type="time" ng-model="time">
          </label>

          <div class="pull-right clearfix">
            <button ng-click="submit()" class="button button-outline button-light item-icon-right">
              Enviar
            </button>
          </div>
        </form>
        <div ng-if="certidaoEnviada">
          <p>Dados enviados com sucesso.</p>
          <div class="pull-right clearfix">
            <button ng-click="goBack()" class="button button-outline button-royal">
              Cadastrar novo documento
            </button>
          </div>
        </div>
    </ion-content>
</ion-view>
