<ion-view view-title="">
  <ion-content has-bouncing="false" class="has-header">
    <div class="screen-header content-padding-extra">
      <h1>Reconhecimento de Firma</h1>
    </div>
    <div class="content-padding-extra">
      <form name="firmaForm" ng-if="!pesquisaFirma" novalidate>
        <label class="item-input input-control">
          <input type="text" placeholder="Nome" ng-model="message.name" required>
        </label>
        <label class="item-input input-control">
          <input type="text" placeholder="Cpf" ng-model="message.cpf" required>
        </label>

        <div class="pull-right clearfix">
          <button ng-click="submit()" class="button button-outline button-light item-icon-right">
            Enviar
          </button>
        </div>
      </form>
    </div>
    <div ng-if="pesquisaFirma">
      <div class="content-padding-extra">
        <p>Você possui firma registrada.</p>
        <div class="pull-right clearfix">
          <button ng-click="goBack()" class="button button-outline button-royal">
            Cadastrar novo documento
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
