<ion-view view-title="&nbsp;">

    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c arrow-left"></i>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content has-bouncing="false">
        <div class="screen-header content-padding-extra">
            <h1>Esqueceu a senha</h1>
        </div>

        <div class="content-padding-extra">
            <form name="formForgotPassword" novalidate>
                <label class="item-input input-control">
                    <input type="email" ng-model="email" name="email" placeholder="Seu e-mail" required>
                </label>
                <div class="pull-right clearfix">
                    <button class="button button-outline button-light item-icon-right"
                            ng-disabled="formForgotPassword.$invalid"
                            ng-class="{'button-royal': email}"
                            ng-click="forgotPassword(email)">
                        Enviar
                    </button>
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>
