<ion-view view-title="" hide-nav-bar="true" class="">
    <ion-content class="padding home" scroll="false">
        <div class="splash-screen">
          <div class="screen-header">
            <h1>9º Ofício de Notas
              <small>Belo Horizonte</small>
            </h1>
          </div>
            <div class="spinner text-center">
                <span ng-bind="message || 'Carregando'"></span>
                <ion-spinner class="spinner-splash" icon="dots"></ion-spinner>
            </div>
        </div>
    </ion-content>
</ion-view>
