<ion-view view-title="">
    <ion-content has-bouncing="false" class="has-header">
        <div class="screen-header content-padding-extra">
            <h1>Cálculo de ITBI</h1>
        </div>
        <div class="content-padding-extra">
            <form name="formItbi" ng-if="!pesquisaITBI" novalidate>
                <label class="item-input input-control">
                    <input ng-model="valor_imovel" type="tel" placeholder="Valor Venal do Imóvel" ui-money-mask mask required>
                </label>

                <div class="pull-right clearfix">
                    <button ng-click="submit(valor_imovel)" class="button button-outline button-light"
                            ng-disabled="formItbi.$invalid"
                            ng-class="{'button-royal': valor_imovel}">
                        Calcular
                    </button>
                </div>
            </form>
            <div ng-if="pesquisaITBI">
                <p class="message-success">O valor do ITBI é {{itbi | currency}}.</p>
                <div class="pull-right clearfix">
                    <button ng-click="goBack()" class="button button-outline button-royal">
                        Realizar um novo cálculo
                    </button>
                </div>
            </div>
            <div class="informacao-calculos">
                <i style="font-size: 18px" class="icon ion-information-circled"></i> O cálculo de ITBI tem como piso o valor declarado pelo cliente, porém, a Prefeitura Municipal de
                {{cidade}} poderá rever o valor de acordo com os seus parâmetros legais isentando este aplicativo
                e esta serventia de qualquer divergência que por ventura venha a existir.
            </div>
        </div>
    </ion-content>
</ion-view>
