<ion-view view-title="Cálculo de ITBI">
    <ion-content class="has-header">
        <div class="padding">
            <form name="itbiForm" ng-if="!pesquisaITBI" novalidate>
                <div class="list">
                    <label class="item item-input">
                        <input ng-model="valor_imovel" type="text" placeholder="Informe o valor venal do Imóvel" required>
                    </label>
                </div>

                <div class="row">
                    <button ng-click="submit(valor_imovel)" class="button button-outline button-balanced button-rounded button-block"> Calcular </button>
                </div>
            </form>
            <div ng-if="pesquisaITBI">
                <p>O valor do ITBI é R${{itbi}}.</p>
                <button ng-click="goBack()" class="button button-outline button-balanced button-rounded button-block"> Cadastrar novo documento </button>
            </div>
        </div>
    </ion-content>
</ion-view>
