<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
    </ion-content>
    <ion-footer-bar>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Convide amigos
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Ajuda e FAQ
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Termos e Privacidade
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">
          Sair
        </ion-item>
      <ion-list>
   </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
