<ion-view view-title="Troque senha" hide-nav-bar="true">

    <ion-content has-bouncing="false">
        <div class="login-header content-padding-extra">
            <h1>Troque senha
                <small>{{cartorio.nome}}</small>
            </h1>
        </div>

        <div class="content-padding-extra">
            <form name="formResetPassword" novalidate>
                <label class="item-input input-control">
                    <input type="password" ng-model="resetData.password" placeholder="Sua senha" required>
                </label>
                <label class="item-input input-control">
                    <input type="password" ng-model="resetData.new_password" placeholder="Nova senha" required>
                </label>
                <label class="item-input input-control">
                    <input type="password" ng-model="resetData.confirm_password" placeholder="Confirme senha" required>
                </label>
                <div class="pull-right clearfix">
                    <button class="button button-outline button-light item-icon-right"
                            ng-disabled="formResetPassword.$invalid"
                            ng-class="{'button-royal': resetData.password && resetData.new_password && resetData.confirm_password}"
                            ng-click="resetPassword()">
                        Enviar
                    </button>
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>
