<ion-view view-title="&nbsp;">

  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c" style="font-size: 24px; margin-left: 25px;"></i>
    </ion-nav-back-button>
  </ion-nav-bar>

    <ion-content has-bouncing="false">
      <div class="screen-header content-padding-extra">
        <h1>Cadastre-se</h1>
      </div>
      <div class="content-padding-extra">
        <form name="signup" novalidate>
          <label class="item-input input-control">
            <input type="text" placeholder="Nome">
          </label>
          <label class="item-input input-control">
            <input type="email" placeholder="E-mail">
          </label>
          <label class="item-input input-control">
            <input type="text" placeholder="Telefone">
          </label>
          <label class="item-input input-control">
            <input type="text" placeholder="Cpf">
          </label>
          <div class="row">
            <div class="col-50 margin-negative-left">
              <label class="item-input input-control">
                <input type="password" placeholder="Senha">
              </label>
            </div>
            <div class="col-50 margin-left">
              <label class="item-input input-control">
                <input type="password" placeholder="Confirmar">
              </label>
            </div>
          </div>

          <div class="pull-right clearfix">
            <button class="button button-outline button-light item-icon-right">
              Próximo
            </button>
          </div>
        </form>
        <div class="row padding-top">
          <div class="col-33">
            <hr>
          </div>
          <div class="col-33 text-center text-uppercase text-divisor">
            ou
          </div>
          <div class="col-33">
            <hr>
          </div>
        </div>
        <div class="social-buttons">
          <div class="facebook-button text-center">
            <i class="icon ion-social-facebook"></i> Login com o Facebook
          </div>
          <div class="googleplus-button text-center">
            <i class="icon ion-social-googleplus"></i> Login com o Google
          </div>
        </div>
        <div class="terms text-center">
          Ao se cadastrar, você concordar com nossos <b>termos de uso</b> e <b>política de privacidade</b>.
        </div>
      </div>
    </ion-content>
</ion-view>
