<ion-view view-title="" hide-nav-bar="true" class="">
    <ion-content class="padding" scroll="false">
        <div class="content-padding-extra splash">
            <div class="logo-color"></div>
            <h1 ng-bind="nome"></h1>
            <h2 ng-bind="cidade"></h2>
        </div>
    </ion-content>

    <div class="content-padding-extra footer-buttons">
        <a href="#/signup" class="button button-block button-block button-rounded button-positive">Quero me cadastrar!</a>
        <a href="#/login" class="button button-block button-outline button-outline button-rounded button-positive">Login</a>
        <a href="#/info" class="more-info">Mais Informações</a>
    </div>
</ion-view>
