.home {
    background-color: #042C41;
}
.home h1,
.splash h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 200;
    margin: 10px 0 0 0;
}
.home h2 {
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 5px 0 0 0;
}
.spinner, .splash {
    text-align: center;
}
.spinner {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 200;
}
.spinner {
    stroke: #fff !important;
    fill: #fff !important;
}
.spinner-splash {
    position: absolute;
}
.splash-screen {
    position: absolute;
    bottom: 10px;
    color: #fff;
}
.splash h1 {
    color: #4a4949;
    font-size: 2.8em;
    font-weight: 100;
    margin: 1em 0 0 0;
}
.splash h2 {
    color: #4a4949;
    font-size: 2em;
    font-weight: 100;
    margin: .5em 0 .7em 0;
}
.content-padding-extra {
    padding-left: 2.2em;
    padding-right: 2.2em;
}
.footer-buttons {
    margin-top: 15em;
}
.item-input.item-select {
    padding: 10px 0;
    margin-bottom: 10px;
}
.item-input.item-select .input-label {
    color: #aaa;
    margin-top: -2px;
    border-bottom: 1px solid #ECEEF6;
}
.item-input.item-select select {
    font-size: 14pt;
    border-bottom: 1px solid #ECEEF6;
    border-radius: 0;
    color: #326D8C;
}
.item-select select {
    padding: 0 48px 0 130px;
    max-width: 90%;
    bottom: 10px;
}
.message-success {
    margin: 30px 0 30px 0;
    font-size: 14pt;
}
input {
    color: #326D8C !important;
}
.item-input.input-control input[type=tel]{
    padding-bottom: 10px;
    font-size: 14pt;
    border-bottom: 1px solid #ECEEF6;
}
.itbi {
    margin-bottom: 0 !important;
    min-height: 10px !important;
}
.registry-wrapper .swiper-container .card.calculate h5 {
    color: #FFF;
}
.registry-wrapper .swiper-container .card h5 {
    font-size: 8pt;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #042C41;
    min-height: 42px;
}
.input-tipo {
    max-width: 50px !important;
    width: 20% !important;
}
.tipo-procuracao {
    padding: 0 !important;
    max-width: 85% !important;
    font-size: 10pt !important;
    padding-right: 50px !important;
    padding-top: 10px !important;
}
input[type=file] {
    height: 1px;
    width: 1px;
}